<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MainDBConnection" connectionString="Data Source=(localdb)\MSSQLLOCALDB; Initial Catalog=InventoryDB"/>
	</connectionStrings>
	<appSettings>
		<add key="subject" value="https://mantve.eu/"/>
		<add key="publicKey" value="BH9yHJHYt5LdgvVw1ixIpV8B6KUEWV90u_MEIjDG3FC3MwGF-Ao0Q7mZ9cwFT6AYua0wbgTBXxbQyKB1Ww3_BNk"/>
		<add key="privateKey" value="o2IT3MdjwfPJje_rgbq9T6H0Kngrm0MHvoD7NgmDIr4"/>
		<add key="encryptionKey" value="aNdRgUkXp2s5v8y/B?E(G+KbPeShVmYq"/>
		<add key="iv" value="HR$2OIjkR$2pIj12"/>
	</appSettings>
</configuration>